### use # to comment out the configure item

### I/O ###
###Broadtwitter
train_dir_T=data/broad_twitter_corpus/broad_twitter_BIOES.train
dev_dir_T=data/broad_twitter_corpus/broad_twitter_BIOES.eval
test_dir_T=data/broad_twitter_corpus/broad_twitter_BIOES.test
train_dir_S=data/conll03_En/train.bmes
dev_dir_S=data/conll03_En/dev.bmes
test_dir_S=data/conll03_En/test.bmes

###WordEmbeddings###
pretrain=None#None#ELMo#BERT
elmo_model_dir=
bert_model_dir=
word_emb_dir=data/glove.6B.100d.txt

model_dir=saved_models/multilstm_broad_twitter

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True#False_for_POSTagging
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguraton###
use_crf=True
use_char=True
word_seq_feature=MultiCellLSTM#LSTM
char_seq_feature=CNN

###TrainingSetting###
task=NER#POSTag#Chunk
status=train
optimizer=SGD
iteration=100
batch_size=10
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
target_loss_rate=1.0#1.6_for_bioNLP#1.0_for_broad_twitter#2.0_for_twitter
learning_rate=0.015#0.025_for_bioNLP#0.015_for_broad_twitter#0.035_for_twitter
lr_decay=0.03
momentum=0
l2=1e-8