### use # to comment out the configure item

### I/O ###
train_dir=data/conll03_En/train.bmes
dev_dir=data/conll03_En/dev.bmes
test_dir=data/tech/tech.test

model_dir=saved_models/multicelllstm_tech
word_emb_dir=data/glove.6B.100d.txt

entity_dict_dir=data/tech/conll2003_dict

raw_data_dir=data/tech/tech_news_raw.train

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguraton###
use_crf=True
use_char=True
word_seq_feature=MultiCellLSTM
char_seq_feature=CNN

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=10
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.05
lr_decay=0.05
momentum=0
l2=1e-8
